@import url(https://fonts.bunny.net/css?family=fragment-mono:400|abel:400);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Fragment Mono", monospace;
}

html {
  scroll-behavior: smooth;
  background-color: #fadcac;
}

header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #76ba99;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  height: 80px;
  z-index: 6;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav li {
  list-style: none;
  margin: 0 0.5rem;
}

nav .navLink {
  text-decoration: none;
  color: white;
  padding: 0.4rem 1rem;
  border-radius: 0.6rem;
}

nav .navLink:hover {
  background-color: #557c55;
}

.wrapper {
  width: 100%;
  min-height: calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main {
  width: clamp(320px, 85vw, 1000px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 30px;
}

.main .textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main h1 {
  font-size: 1.5rem;
  display: inline;
  padding: 0.5em;
  color: white;
  background-color: #525e75;
  border-top-left-radius: 20%;
  border-bottom-right-radius: 20%;
  text-decoration: none;
  font-style: italic;
}

.main h1 {
  margin-top: 1em;
}

.main .homeP,
.main .gardenP {
  color: #525e75;
  background-color: #76ba99;
  border-radius: 1em;
  padding: 1.5em;
  width: 320px;
}

.main .link,
.createGardenBtn {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  padding: 0.5em;
  color: #525e75;
  background-color: #fa7070;
  border-radius: 20%;
  border: 4px dotted #158467;
  font-family: "Fragment Mono", monospace;
  text-decoration: none;
  animation: wobble 3s ease-in-out 1.5s infinite both;
  transition: transform 0.5s ease-in-out;
}

@keyframes wobble {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  60% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.03);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

.main .link:hover {
  transform: scale(1.03);
  animation: none;
}

.titleImg {
  width: 300px;
  height: 300px;
  margin: 3rem;
}

.titleImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 5px 5px 5px 5px #44331d, -5px -5px 5px 5px #44331d;
}

/* page "Create" */

.main .createTitle {
  margin: 2em;
  font-size: 1.1rem;
  display: inline;
  padding: 0.5em;
  color: white;
  background-color: #525e75;
  border-radius: 20%;
  text-decoration: none;
  font-style: italic;
}

.vegContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.vegCard {
  position: relative;
  margin: 0.2rem;
  padding: 16px;
  display: inline;
}

.btnSelect {
  cursor: pointer;
  border: 2px solid rgb(122, 74, 41);
  box-shadow: 2px -2px 5px 4px rgb(122, 74, 41);
}

/* Component "Infobox" */

.vegContainer .infoCard {
  position: absolute;
  z-index: 2;
  width: 300px;
}

.infoCard {
  background-color: #f2ffe9;
  text-align: left;
  padding: 1rem;
}

.infoCard h2 {
  font-size: 1rem;
  display: inline-block;
  padding-bottom: 0.5em;
  margin: 0.5em;
  border-bottom: 3px solid #fa7070;
}

.infoCard p {
  font-size: 0.8rem;
  margin: 0.5rem;
  font-family: "Abel", sans-serif;
}

.infoCard.cultivation strong {
  font-family: "Abel", sans-serif;
  color: #181f29;
}

.delete {
  position: absolute;
  right: 0;
  top: 0;
  padding: 6px 14px;
  background-color: hsl(169, 87%, 15%);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.vegTitle {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 0.3rem;
}

.selected {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Component "Selected" */

.selectedContainer {
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
}

.selectedContainer h2 {
  margin: 1em;
}

.btnUnselect {
  margin: 0.5em;
  padding: 1em;
  border-radius: 0.5em;
  border: none;
  width: 250px;
  box-shadow: 2px -2px 5px 4px rgb(122, 74, 41);
}

.createGardenBtn {
  margin: 0.5em;
  padding: 1em;
  width: 250px;
  align-self: center;
  cursor: pointer;
}

/* Component "Garden" */

.main.garden h2.gardenTitle {
  border: 5px dotted #158467;
  border-radius: 0.5em;
  padding: 0.5em;
}

.gardenBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.patch {
  position: relative;
  width: 200px;
  margin: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.patch img.patchImg {
  width: 100%;
  opacity: 0.7;
}

.patch .veg {
  position: absolute;
  width: 100px;
  top: 60px;
}

.patch .arrow {
  position: absolute;
  background-color: #158467;
  border: none;
  padding: 0.5em 0.3em;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  z-index: 2;
  height: 2em;
  width: 2em;
  transform: rotate(90deg);
}

.patch .arrow:hover {
  background-color: #fff;
}

.patch .arrowToLeft {
  top: 0;
}

.patch .arrowToRight {
  bottom: 0;
}

.patch .heart {
  width: 40px;
  z-index: 3;
  position: absolute;
  right: -40px;
  top: 0;
}

.patch .infoCard {
  position: absolute;
  z-index: 5;
  width: 100%;
  bottom: calc(-120%);
}

.patch .infoCard {
  display: none;
}

.patch .infoCard.neighbors {
  background-color: #fa7070;
}

.patch .infoCard.neighbors h2 {
  border-bottom: 3px solid #fff;
}

.patch .infoCard.neighbors p {
  font-family: "Fragment Mono", monospace;
}

.patch .goodNeighbors {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 0;
}

.patch .goodNeighbors img {
  padding: 3px;
  width: 32px;
  height: 35px;
}

.toTopBtn {
  margin: 0.5em;
  padding: 1em;
  border-radius: 0.5em;
  border: none;
  width: 150px;
  background-color: #525e75;
  color: white;
  cursor: pointer;
}

/* Error page */

.errorPage * {
  margin: 1rem;
}

.errorPage button {
  padding: 1em;
  background-color: #76ba99;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
}

/* Footer */

footer {
  background-color: #158467;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  margin-top: 30px;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 570px) {
  .patch .arrow {
    transform: none;
    top: 85px;
    width: 1.5em;
    height: 2em;
  }
  .patch .arrowToLeft {
    left: 0;
  }
  .patch .arrowToRight {
    right: 0;
  }

  .patch .infoCard {
    display: inline-block;
  }

  .patch .goodNeighbors {
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .home {
    flex-direction: row;
  }
  .titleImg {
    margin: 2rem;
    width: 250px;
    height: 250px;
  }
}

@media (min-width: 1280px) {
  .titleImg {
    width: 300px;
    height: 300px;
    margin: 3rem;
  }
}

/* #76ba99 */
/* #ADCF9F */
/* #CED89E */

/* #FA7070 */
/* #557C55 */
/* #F2FFE9 */
/* #A6CF98 */

/* #186F65 */
/* #B5CB99 */
/* #FCE09B */

/* #F1DDBF */
/* #525E75 */
/* #78938A */
/* #92BA92 */

/* #FADCAC */
/* #158467 */
/* #197163 */
/* #065446 */

/* Problems:
- Infobox erzeugt bei Elementen rechts und unten beim Hovern Overflow 
- falsche useStates noch aus props rauslöschen 
*/
